@page
@model RegisterModel
@{
    ViewData["Title"] = "Create New User Account";
}

<section class="contact-us" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-12 align-self-center">
                <div class="row justify-content-center mt-5">
                    <div class="col-lg-6">
                        <form id="contact" class="border border-dark" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <h2>Create a new account</h2>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-floating">
                                <fieldset>
                                    <input asp-for="RegisterBinding.Username" class="form-control" placeholder="User Name" autocomplete="username" aria-required="true" />
                                    <span asp-validation-for="RegisterBinding.Username" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <div class="form-floating mt-3">
                                <fieldset>
                                    <input asp-for="RegisterBinding.Email" class="form-control" placeholder="Email" autocomplete="email" aria-required="true" />
                                    <span asp-validation-for="RegisterBinding.Email" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <div class="form-floating mt-3">
                                <fieldset>
                                    <input asp-for="RegisterBinding.Password" class="form-control" placeholder="Password" autocomplete="new-password" aria-required="true" />
                                    <span asp-validation-for="RegisterBinding.Password" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <div class="form-floating mt-3">
                                <fieldset>
                                    <input asp-for="RegisterBinding.ConfirmPassword" class="form-control" placeholder="Confirm Password" autocomplete="new-password" aria-required="true" />
                                    <span asp-validation-for="RegisterBinding.ConfirmPassword" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-offset-2 text-center">
                <section>
                    <h3>Use another service to register.</h3>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p class="text-light">
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
