@model IEnumerable<SubtitlesManagementSystem.Web.Models.Country>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(country => country.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var country in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(countryItem => country.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@country.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@country.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@country.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
