@model PaginatedList<SubtitlesManagementSystem.Web.Models.Genres.ViewModels.AllGenresViewModel>

<section class="meetings-page" style="min-height: 100vh;">
    <div class="container">
        @if (TempData["GenreSuccessMessage"] != null)
        {
            <div class="alert alert-success mb-3" role="alert">
                @TempData["GenreSuccessMessage"]
            </div>
        }

        <div class="row">
            <p>
                <a asp-action="Create" class="btn btn-primary">Create New Genre</a>
            </p>

            @if (!Model.Any())
            {
                <h3>There are currently no genres</h3>
            }
            else
            {
                <form asp-action="Index" method="get" class="mt-3">
                    <div class="form-actions no-color">
                        <p>
                            <input type="text" name="SearchTerm" class="search-term-input"
                                   value="@ViewData["GenreSearchFilter"]" />
                            <input type="submit" value="Search" class="btn btn-success" />
                            <a asp-action="Index" class="btn btn-primary">Reset</a>
                        </p>
                    </div>
                </form>

                <table class="table table-bordered table-dark table-striped table-hover mt-3">
                    <thead class="thead-light">
                        <tr class="text-center">
                            <th>
                                <a asp-action="Index" class="sorting-link"
                                   asp-route-sortOrder="@ViewData["GenreNameSort"]"
                                   asp-route-currentFilter="@ViewData["GenreSearchFilter"]">
                                    @Html.DisplayNameFor(genre => genre.ViewModel.Name)
                                </a>
                            </th>
                            <th>
                                Related Film Productions
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var genre in Model)
                        {
                            <tr class="text-center">
                                <td>
                                    @Html.DisplayFor(genreModelItem => genre.Name)
                                </td>
                                <td>
                                    <ul>
                                        @if (genre.RelatedFilmProductions.Count() > 0)
                                        {
                                            @foreach (var filmProduction in genre.RelatedFilmProductions)
                                            {
                                                <li>@filmProduction.Title</li>
                                            }
                                        }
                                        else
                                        {
                                            <li>No Related Film Productions</li>
                                        }
                                    </ul>
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@genre.Id" class="btn btn-light">Edit</a>
                                    <a asp-action="Details" asp-route-id="@genre.Id" class="btn btn-info">Details</a>
                                    <a asp-action="Delete" asp-route-id="@genre.Id" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="row justify-content-between">
                    <div class="col-5">
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                           asp-route-pageSize="@ViewData["CurrentPageSize"]"
                           asp-route-currentFilter="@ViewData["GenreSearchFilter"]"
                           class="btn btn-light border border-dark @(!Model.HasPreviousPage ? "disabled" : "")">
                            Previous
                        </a>

                        @for (int pageIndex = 1; pageIndex <= @Model.TotalPages; pageIndex++)
                        {
                            <a class="btn @(Model.PageIndex == pageIndex ? "btn-dark text-light" : "btn-light border border-dark")"
                               asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-currentFilter="@ViewData["GenreSearchFilter"]"
                               asp-route-pageSize="@ViewData["CurrentPageSize"]"
                               asp-route-pageNumber="@pageIndex">
                                @pageIndex
                            </a>
                        }

                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                           asp-route-pageSize="@ViewData["CurrentPageSize"]"
                           asp-route-currentFilter="@ViewData["GenreSearchFilter"]"
                           class="btn btn-light border border-dark @(!Model.HasNextPage ? "disabled" : "")">
                            Next
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>